.img-reponsive{
	max-width: 100%;
	height: auto;
}

.panel-left{
	background-color: #020202;
	color: #bbb;
}

.panel-logo{
	padding: 15px 0px;
}

.panel-left .list{
	font-size: 14px;
}

.panel-left .list .material-icons{
	color: #857043;
}

.panel-left .list .item-inner{
	background: none;
}

.button-border{
	border: 1px solid #fff !important;
	background-color: transparent !important;
	color: #fff;
}

#title{
	background-image: url( ../img/app_images-01.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0px;
	color: #fff;
}

h1{
	font-size: 45px;
}

#sec-imagenes{
	padding-bottom: 20px;
}

#popup-login .login-screen-content{
	background-color: #FF9800 !important;
}

#ensalada{
	background-color: rgba(0,0,0,0.89);
	background-image: url( ../img/fondo2-01.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0px;
	color: #fff;
}

#hamburguesa{
	background-color: rgba(0,0,0,0.89);
	background-image: url( ../img/app_images-01.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0px;
	color: #fff;
}

#rollos{
	background-color: rgba(0,0,0,0.89);
	background-image: url( ../img/app_images-04.png);
	background-blend-mode: soft-light;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0px;
	color: #fff;
}

.page-content .orange{
	background-color: #FF9800;
}

#popup-registro .block-titulo{
	background-color: #FF9800;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	padding: 30px 0px;
}
#popup-registro .block-title{
	color: #000;
}


#form-login .material-icons{
	color: #FFFFFF;
}

#form-registro .close-registro{
	color: #FF9800;
}

#sec-recetario{
}

#sec-imagenes{
	background-color: #151515 !important;
}

#sec-color{
	background-color: #151515 !important;
}

#sec-color2{
	background-color: #151515 !important;
}

#profile-pic{
	background-image: url( ../img/app_images-01.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 60px 0px;
}

.margin-sec{
	margin-bottom: -180px;
}

.top-bar{
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#sec-color .page-content{
	padding-top: 0px !important;
	padding-bottom: 25px !important;
}